@charset 'utf-8';
#app #header .header_wrap .slider {
  margin-top: 0;
  max-height: 100vh;
  .bm-burger-button {
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem !important;
    top: .5rem;
    cursor: pointer;
  }

  .bm-burger-bars {
    background-color: #000;
  }

  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    cursor: pointer;
  }
  .bm-cross {
    background: #bdc3c7;
  }

  .bm-cross-button {
    padding: .5rem;
    height: 2rem;
    width: 2rem;
  }

  .bm-menu {
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 65); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5rem; /* Place content 60px from the top */
    transition: .5s; /*0.5 second transition effect to slide in the sidenav*/
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .bm-item-list {
    color: #b8b7ad;
    font-size: 1.25rem;
    margin-left: 1rem;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
  }
  .bm-item-list > * {
    font-weight: 700;
    color: #fff;

    &.router-link-exact-active {
      color: $primary
    }
  }

  .sliderIcon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
  }
}